@font-face {
  font-family: JuliaMono-Light;
  src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Light.woff2");
}

pre {
  font-family: JuliaMono-Light;
}
code {
  font-family: JuliaMono-Light;
}

.username {
  font-family: JuliaMono-Light, monospace;
}

.main-header .social {
  padding: 10px;
}

/* For some reason this is the only way to change the pkg> prompt color */
.hljs-meta {color: steelblue} 

.side-bar .side-profile {
  padding: 10%;
  border-radius: 50%;
}

ul.menu-list-child-list li {
  font-size: 50%;
}
